{% load i18n %}
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_display_name">{% trans "Display Name" %}</label>
        <input class="input setting-input" name="xb_display_name" id="xb_display_name" value="{{ display_name }}" type="text" />
      </div>
      <span class="tip setting-help">{% trans "Display name for this module" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_html_content">{% trans "HTML Content" %}</label>
        <textarea class="input setting-input" name="xb_html_content" id="xb_html_content" rows="10">{{ html_content }}</textarea>
      </div>
      <span class="tip setting-help">{% trans "Enter the HTML content that will be rendered in the interactive block" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_css_content">{% trans "CSS Styles" %}</label>
        <textarea class="input setting-input" name="xb_css_content" id="xb_css_content" rows="10">{{ css_content }}</textarea>
      </div>
      <span class="tip setting-help">{% trans "Enter CSS styles for your interactive content" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_js_content">{% trans "JavaScript Code" %}</label>
        <textarea class="input setting-input" name="xb_js_content" id="xb_js_content" rows="10">{{ js_content }}</textarea>
      </div>
      <span class="tip setting-help">{% trans "Enter JavaScript code for interactivity. Use submitInteraction(data) to send data to the XBlock" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_weight">{% trans "Weight" %}</label>
        <input class="input setting-input" name="xb_weight" id="xb_weight" value="{{ weight }}" type="number" min="0" step="0.1" />
      </div>
      <span class="tip setting-help">{% trans "Weight of this problem for grading" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_correct_answers">{% trans "Correct Answers (JSON)" %}</label>
        <textarea class="input setting-input" name="xb_correct_answers" id="xb_correct_answers" rows="8">{{ correct_answers }}</textarea>
      </div>
      <span class="tip setting-help">{% trans "JSON object defining correct answers for auto-grading. Example: {'answer': '4', 'correct_feedback': 'Great job!', 'incorrect_feedback': 'Try again.'}" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_enable_debug_mode">
          <input type="checkbox" name="xb_enable_debug_mode" id="xb_enable_debug_mode" {% if enable_debug_mode %}checked{% endif %} />
          {% trans "Enable Debug Mode" %}
        </label>
      </div>
      <span class="tip setting-help">{% trans "Enable debug mode for development" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_auto_grade_enabled">
          <input type="checkbox" name="xb_auto_grade_enabled" id="xb_auto_grade_enabled" {% if auto_grade_enabled %}checked{% endif %} />
          {% trans "Auto Grade Enabled" %}
        </label>
      </div>
      <span class="tip setting-help">{% trans "Enable automatic grading based on interaction data" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_show_feedback_to_learners">
          <input type="checkbox" name="xb_show_feedback_to_learners" id="xb_show_feedback_to_learners" {% if show_feedback_to_learners %}checked{% endif %} />
          {% trans "Show Feedback to Learners" %}
        </label>
      </div>
      <span class="tip setting-help">{% trans "Show correct/incorrect feedback to learners" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_show_previous_response">
          <input type="checkbox" name="xb_show_previous_response" id="xb_show_previous_response" {% if show_previous_response %}checked{% endif %} />
          {% trans "Show Previous Response" %}
        </label>
      </div>
      <span class="tip setting-help">{% trans "Show learner their previous response when they return" %}</span>
    </li>
    
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="xb_enable_instructor_view">
          <input type="checkbox" name="xb_enable_instructor_view" id="xb_enable_instructor_view" {% if enable_instructor_view %}checked{% endif %} />
          {% trans "Enable Instructor View" %}
        </label>
      </div>
      <span class="tip setting-help">{% trans "Enable instructor dashboard view for this block" %}</span>
    </li>
  </ul>
  
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div> 